In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import os
import operator

import jsonlines
import pandas as pd
import pyspark
from pyspark.ml.feature import VectorAssembler, StandardScaler
from pyspark.ml.pipeline import Pipeline
from pyspark.ml.clustering import KMeans, GaussianMixture

In [3]:
spark = (
    pyspark.sql.SparkSession
    .builder
    .appName("Python Spark cluster analysis")
    .enableHiveSupport()
    .getOrCreate()
)

In [9]:
path_aggregated_df = "../data/output/k_means/clustered_kmeans__k_7_parquet/"

In [10]:
clustering_df = spark.read.parquet(path_aggregated_df)

clustering_df

DataFrame[user_account_id: int, _c0: double, user_lifetime: double, user_no_outgoing_activity_in_days: double, user_account_balance_last: double, user_spendings: double, reloads_inactive_days: double, reloads_count: double, reloads_sum: double, calls_outgoing_count: double, calls_outgoing_spendings: double, calls_outgoing_duration: double, calls_outgoing_spendings_max: double, calls_outgoing_duration_max: double, calls_outgoing_inactive_days: double, calls_outgoing_to_onnet_count: double, calls_outgoing_to_onnet_spendings: double, calls_outgoing_to_onnet_duration: double, calls_outgoing_to_onnet_inactive_days: double, calls_outgoing_to_offnet_count: double, calls_outgoing_to_offnet_spendings: double, calls_outgoing_to_offnet_duration: double, calls_outgoing_to_offnet_inactive_days: double, calls_outgoing_to_abroad_count: double, calls_outgoing_to_abroad_spendings: double, calls_outgoing_to_abroad_duration: double, calls_outgoing_to_abroad_inactive_days: double, sms_outgoing_count: double, sms_outgoing_spendings: double, sms_outgoing_spendings_max: double, sms_outgoing_inactive_days: double, sms_outgoing_to_onnet_count: double, sms_outgoing_to_onnet_spendings: double, sms_outgoing_to_onnet_inactive_days: double, sms_outgoing_to_offnet_count: double, sms_outgoing_to_offnet_spendings: double, sms_outgoing_to_offnet_inactive_days: double, sms_outgoing_to_abroad_count: double, sms_outgoing_to_abroad_spendings: double, sms_outgoing_to_abroad_inactive_days: double, sms_incoming_count: double, sms_incoming_spendings: double, sms_incoming_from_abroad_count: double, sms_incoming_from_abroad_spendings: double, gprs_session_count: double, gprs_usage: double, gprs_spendings: double, gprs_inactive_days: double, last_100_reloads_count: double, last_100_reloads_sum: double, last_100_calls_outgoing_duration: double, last_100_calls_outgoing_to_onnet_duration: double, last_100_calls_outgoing_to_offnet_duration: double, last_100_calls_outgoing_to_abroad_duration: double, last_100_sms_outgoing_count: double, last_100_sms_outgoing_to_onnet_count: double, last_100_sms_outgoing_to_offnet_count: double, last_100_sms_outgoing_to_abroad_count: double, last_100_gprs_usage: double, user_intake: int, user_has_outgoing_calls: int, user_has_outgoing_sms: int, user_use_gprs: int, user_does_reload: int, n_months: int, year: int, month: int, churn: int, initial_features: vector, features: vector, prediction: int]

In [19]:
df = clustering_df.toPandas()
df.head(5)

,user_account_id,_c0,user_lifetime,user_no_outgoing_activity_in_days,user_account_balance_last,user_spendings,reloads_inactive_days,reloads_count,reloads_sum,calls_outgoing_count,...,user_has_outgoing_sms,user_use_gprs,user_does_reload,n_months,year,month,churn,initial_features,features,prediction
0,944511,69239.333333,340.0,7.333333,9.766667,7.760000,474.333333,0.333333,0.500000,32.666667,...,1,0,1,3,2013,9,0,"[340.0, 7.333333333333332, 9.766666666666667, ...","[-0.6199274375469542, -0.09779167982507127, 0....",0
1,355709,69646.666667,1285.0,5.666667,0.000000,2.000000,48.000000,0.333333,2.000000,19.000000,...,0,0,1,3,2013,9,0,"(1285.0, 5.666666666666668, 0.0, 2.0, 48.0, 0....","[-0.4607344157581097, -0.12873986763673598, -0...",3
2,1121526,69731.666667,74.0,2.000000,16.353333,4.526667,35.666667,0.666667,8.006667,7.666667,...,1,1,1,3,2013,9,0,"[74.0, 2.0, 16.353333333333335, 4.526666666666...","[-0.6647373251615919, -0.19682588082239846, 1....",5
3,393129,69891.000000,892.0,3.666667,4.410000,4.560000,33.000000,0.666667,4.000000,58.333333,...,1,0,1,3,2013,9,0,"[892.0, 3.6666666666666665, 4.41, 4.56, 33.0, ...","[-0.5269384978353752, -0.16587769301073374, -0...",0
4,390590,70101.333333,1229.0,0.666667,3.523333,4.776667,20.666667,1.000000,4.000000,44.333333,...,1,1,1,3,2013,9,0,"[1229.0, 0.6666666666666666, 3.523333333333333...","[-0.4701680763085597, -0.2215844310717303, -0....",5

In [20]:
df.describe(include="all")

,user_account_id,_c0,user_lifetime,user_no_outgoing_activity_in_days,user_account_balance_last,user_spendings,reloads_inactive_days,reloads_count,reloads_sum,calls_outgoing_count,...,user_has_outgoing_sms,user_use_gprs,user_does_reload,n_months,year,month,churn,initial_features,features,prediction
count,3.880600e+04,38806.000000,38806.000000,38806.000000,38806.000000,38806.000000,38806.000000,38806.000000,38806.000000,38806.000000,...,38806.000000,38806.000000,38806.000000,38806.000000,38806.0,38806.0,38806.000000,38806,38806,38806.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33589,33589,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(15947.0, 8.0, 0.0, 0.0, 8.0, 1.0, 0.0, 0.0, 1...","[2.0092000662186504, -0.08541240470040536, -0....",NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2957,2957,NaN
mean,6.088175e+05,73300.502843,4020.006962,12.599753,7.681185,4.171476,380.971409,0.706480,4.511054,27.744743,...,0.674767,0.049065,0.717544,2.680230,2013.0,9.0,0.223058,NaN,NaN,1.682291
std,4.355919e+05,21336.541021,5936.189849,53.853449,8.253671,5.707491,514.295734,0.780139,6.253145,42.750287,...,0.468468,0.216006,0.450200,0.727875,0.0,0.0,0.416302,NaN,NaN,1.710364
min,1.300000e+01,43235.666667,1.000000,0.000000,0.000000,-0.083333,0.000000,0.000000,-6.666667,0.000000,...,0.000000,0.000000,0.000000,1.000000,2013.0,9.0,0.000000,NaN,NaN,0.000000
25%,2.574325e+05,56826.916667,518.250000,1.000000,0.500000,0.000000,16.000000,0.000000,0.000000,3.333333,...,0.000000,0.000000,0.000000,3.000000,2013.0,9.0,0.000000,NaN,NaN,0.000000
50%,4.168255e+05,70371.833333,1282.000000,2.666667,5.346667,2.086667,37.000000,0.666667,2.000000,14.000000,...,1.000000,0.000000,1.000000,3.000000,2013.0,9.0,0.000000,NaN,NaN,1.000000
75%,1.106625e+06,83826.083333,2017.000000,8.000000,11.536667,5.880000,864.000000,1.000000,7.333333,35.333333,...,1.000000,0.000000,1.000000,3.000000,2013.0,9.0,0.000000,NaN,NaN,3.000000
max,1.196944e+06,136301.000000,15947.000000,530.000000,44.040000,91.970000,1338.000000,11.333333,92.050000,2474.666667,...,1.000000,1.000000,1.000000,3.000000,2013.0,9.0,1.000000,NaN,NaN,6.000000

In [37]:
grouped_df = df.groupby('prediction').describe(include="all")

In [86]:
df1 = grouped_df['user_account_id']
df1['pcc'] = df1['count'] / df1['count'].sum()
df1 = df1[['count', 'pcc']]

excluded = ['prediction', 'initial_features', 'features']
for col in df.columns:  
    if not col in excluded:
        df1[col] = grouped_df[col]['mean']

/home/majo/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [87]:
df1

,count,pcc,user_account_id,_c0,user_lifetime,user_no_outgoing_activity_in_days,user_account_balance_last,user_spendings,reloads_inactive_days,reloads_count,...,last_100_gprs_usage,user_intake,user_has_outgoing_calls,user_has_outgoing_sms,user_use_gprs,user_does_reload,n_months,year,month,churn
prediction,,,,,,,,,,,,,,,,,,,,,
0,15599.0,0.401974,4.720782e+05,67170.400816,1359.946663,2.990865,10.232788,4.612923,115.239727,0.689478,...,0.324192,0.070581,0.998205,0.931534,0.017373,0.935829,2.942689,2013.0,9.0,0.050324
1,6136.0,0.158120,1.187332e+06,107302.783219,15929.473571,8.310246,0.407790,0.063527,42.657540,0.938614,...,0.000135,0.048566,0.287810,0.030313,0.001304,0.933507,1.196219,2013.0,9.0,0.764179
2,615.0,0.015848,7.844440e+05,66320.362060,9240.959892,430.278591,4.698130,2.345485,859.699187,0.354472,...,0.027669,0.512195,0.995122,0.533333,0.032520,0.559350,3.000000,2013.0,9.0,0.445528
3,10603.0,0.273231,5.196516e+05,66197.607658,2248.459288,10.851960,7.580232,0.862593,1110.557059,0.052595,...,0.791797,0.023861,0.992266,0.516646,0.009620,0.145996,2.996322,2013.0,9.0,0.254362
4,3861.0,0.099495,5.036081e+05,67410.345291,1197.030735,1.443840,8.228154,16.004051,20.836830,2.086981,...,0.369601,0.066822,0.999482,0.973323,0.048174,0.997928,2.945610,2013.0,9.0,0.029267
5,1288.0,0.033191,5.477238e+05,68582.151786,1607.384187,3.359990,9.217355,6.453531,213.609084,0.942029,...,6.187312,0.104814,0.997671,0.954969,0.993012,0.849379,2.875000,2013.0,9.0,0.058230
6,704.0,0.018142,4.746502e+05,66779.746922,1175.684186,2.433002,12.853970,12.555668,92.435133,1.213542,...,0.905644,0.049716,1.000000,0.957386,0.053977,0.965909,2.947443,2013.0,9.0,0.032670